<% include ./partials/header %>


 <canvas id="myChart" width="500" height="500"></canvas>

<!-- Pass into DOM for chart -->
<form action="">
  <%users.forEach(function(user){%>
    <input type="hidden" name="user[name]" value="<%=user.name%>" class="name">
    <input type="hidden" name="user[score]" value="<%=user.score%>" class="score">
    <%})%>
</form>


<% include ./partials/footer %>