<% include ./partials/header %>

<table class="table">
<thead>
  <th>Player</th>
  <th>Score</th>
</thead>
<tbody>
  <%users.forEach(function(el){%>
  <tr>
    <td><%=el.name%></td>
    <td><%=el.score%></td>  
  </tr>
   <% }) %>
</tbody>
</table>






<% include ./partials/footer %>