<% include ./partials/header %>

 <div class="col-xs-3 wins ">
  
       <button class="btn-warning" id="stats"><a href="/scores">High Scores</a></button>
  </div>

  <div class="col-xs-6 text-center">
  
    

      <label for="input">Guess this song: </label>
      <input type="text" name="input" id="input">
    </form>
    

    <div class="info text-center" style="display: none" id="answer">

       <div class="word-bubble">
        <h1><span id="artistName"></span></h1>
      </div>
       
      <br>
      <br>
      

      <button class="btn-warning btn-lg" id="button">PLAY</button>

      <form action=""></form>

    </div>

  </div>

  <div class="col-xs-3">

    

    <div class="wins">

    <button class="btn-warning" id="stats">Stats</button>
    <span id="count"></span>
    </div>
  </div> 






<% include ./partials/footer %>